.command-line-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    z-index: 1000;
    position: relative;
}

.command-form{
    display: flex;
    background-color:var(--command-form-background);
    padding: 10px;
    width: 100%;
    min-height: 45px;
    justify-content: center;
    position: fixed;
    bottom:20px;

  }

.command-image{
      margin-right: 15px;
      font-weight: bold;
      height: 30px;
    }

input {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    background: var(--command-input-background);
    color: var(--text-color);
    border: none;
}
input:focus {
    outline: none;
    background-color: var(--input-focus-background);

  }



input:hover {

    background-color: var(--input-focus-background);
  }