.command-line-container {
    display: flex;
    flex-direction: column;
    height: 2%;
    width: 100%;
    justify-content: flex-end;
    z-index: 1000;
}

.command-form{
    display: flex;
    bottom: 0;
    background-color: #222;
    padding: 10px;
    width: 100%;
    min-height: 45px;
    justify-content: center;

  }

.command-image{
      margin-right: 15px;
      font-weight: bold;
      height: 30px;
    }

input {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
}
input:focus {
    outline: none;
  }