
.editor {
    display: flex;
    height: 100vh;
}

.code-editor{
    position: relative;
    width: 80%;
    height: 100%;
}

.file-manager {
    width: 250px;
    background-color: rgb(40, 41, 40);
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

