.file-icon{
    height: 16px;
    object-fit: contain;
}

.file-manager {
    background-color: rgb(40, 41, 40);
    width: 300px;
    height: 100%;
}

.file-item {
    color: rgb(178, 178, 178);
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: left;
    margin-left: 10px;
    margin-bottom: 3px;
    cursor: grab;

}

.file-list-container {
    justify-content: left;
}

.file-list {
    padding-left: 3px;;
}


.file-browser-panel {
    min-height: 40px;
    height: 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(29, 32, 30);

}

.browser-element {
    display: flex;
    width: 14px;
    height: 14px;


}

.file-item:hover {
    filter: sepia(1) saturate(2) hue-rotate(350deg);
}

.file-item.highlighted {
    filter: sepia(1) saturate(2) hue-rotate(350deg);
}


.browser-element:hover {
    filter: sepia(2) saturate(4) hue-rotate(320deg);
}
.prev-folder {
    transform: scaleX(-1);
}

.explorer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

