.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 2rem;
    font-family: monospace;
    height: 80vh;
    width: 100%;
  }

.brand-info {
  align-items: center;
  justify-content: center;
}

.brand-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

  }

.brand-description {
    font-size: 1.2rem;
    text-align: center;
    color: #5f5f5f;

  }

.welcome-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

.welcome-logo img {
    max-width: 300px;
    height: auto;
    display: block;
  }

.welcome-actions {
    display: block;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

.welcome-actions label {
    color: #5f5f5f;;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
    text-align: left;
    width: fit-content;
    display: block;

  }

.welcome-actions label:hover {
    color: #d1bc03;
  }


.new-file {
  display: flex;
  flex-direction: row;
  align-items: "flex-end";

}

.new-file-label {
  display:flex;
  align-self: center;
  font-size: 16px;
  margin-right: 20px;
}
.new-file-inp {
  background: none;
  width: 100px;
  height:18px;
  border-bottom: #d1bc03 solid;
  outline: none;
  border-radius: 0px;
  font-size: 16px;
  top: 6px;
  position:relative;
}

.new-file-inp:hover {
  background: none;
  border-bottom: #d1bc0388 solid;
}
